/* src/index.css or src/App.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
}

.logo {}
nav#header {}
nav#header ul {list-style-type:none;margin:0px;padding:0px;} 
nav#header ul li {display:inline-block;margin:0px 25px;font-size:1.75em;}
nav#header ul li a {color:#fff;text-decoration:dotted;}


body {background:#000;coloor:#fff;}
	a {color:#fff;} a:hover {color:red;}
	header, footer {color:#fff;}
	
	
	div#artist {max-width:300px;display:inline-block;}
	img.artistImg {max-width:300px;width:100%;height:auto;}
	img.kendo {max-width:100%;}
	#home {max-width:980px;margin:auto auto;}
	ul{list-style-type:none;margin:0px;padding:0px;}
	
	h1, h2, h3 {color:#fff;}
	p {color:#fff;}
	
	.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

	
	/* Mailchimp */
	
	#mc_embed_signup{background:#fff;clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}
	.fa-2x {margin: 0px 5px;font-size: 2em;}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


	